@media (max-width: 1200px) {
	.container {
		max-width: 800px;
	}
	.title {
		&_left {
			font-size: 32px;
		}
	}
	.promo {
		&__header {
			font-size: 42px;
		}
		&__subheader {
			margin-top: 10px;
			font-size: 20px;
		}
	}
	.carousel {
		.tns-item {
			img {
				width: 80%;
			}
		}
	}
}
@media (max-width: 991px) {
	.button {
		width: 130px;
		height: 28px;
		font-size: 11px;
		&_main {
			margin-top: 60px;
			width: 230px;
			height: 30px;
			font-size: 15px;
		}
		&_submit {
			width: 300px;
			height: 30px;
		}
	}
	.header {
		&__logo {
				width: 200px;
		}
		&__official {
			span {
				font-size: 17px;
			}
		}
		&__phone {
			font-size: 15px;
			margin-bottom: 4px;
		}
	}
	.promo {
		padding: 21px 30px 70px 30px;
		min-height: 590px;
		&__header {
			font-size: 35px;
		}
		&__wrapper{
			margin-top: 85px;
		}
		&__subheader {
			margin-top: 6px;
			font-size: 19px;
		}
		&__icons {
			margin-top: 50px;
			width: 390px;
		}
		&__icon {
			font-size: 13px;
		}
		&__link {
			margin-top: 14px;
			font-size: 15px;
		}
	}
	.advantage {
		padding: 50px 30px 75px 30px;
		&__wrapper {
			margin-top: 60px;
		}
		&__block {
			&:nth-child(1) {
				padding-right: 10px;
			}
			&:nth-child(2) {
				padding: 0 10px 0 10px;
			}
			&:nth-child(3) {
				padding-left: 10px;
			}
		}
		&__header {
			margin-top: 32px;
			font-size: 17px;
		}
		&__text {
			margin-top: 22px;
			font-size: 13px;

		}
	}
	.consultation {
		min-height: 610px;
		padding: 80px 0 70px 30px;
	}
	.carousel {
		button {
			display: none;
		}
		.tns-item {
			img {
				width: 70%;
			}
		}
	}
}
@media (max-width: 767px) {
	.button {
		&_submit {
			height: 35px;
			font-size: 13px;
		}
	}
	.title {
		&_left {
			font-size: 23px;
		}
	}
	.header {
		&__logo {
			width: 140px;
		}
		&__official {
			font-size: 10px;
			span {
				font-size: 14px;
			}
		}
		&__phone {
			font-size: 13px;
		}
	}
	.promo {
		min-height: 565px;
		&__wrapper {
			align-items: center
		}
		&__header {
			font-size: 32px;
		}
		&__subheader {
			font-size: 17px;
		}
		&__icons {
			width: 470px;
			margin-top: 40px;
		}
		&__icon {
			img {
				margin-bottom: 13px;
			}
		}
		&__link {
			font-size: 14px;
		}
	}
	.advantage {
		&__header {
			font-size: 14px;
		}
		&__text {
			margin-top: 15px;
		}
	}
	.consultation {
		min-height: 550px;
	}
}
@media (max-width: 575px) {
	.button {
		&_submit {
			width: 100%;
		}
	}
	.title {
		font-size: 22px;
		&_left {
			br {
				display: none;
			}
			font-size: 19px;
			line-height: 29px;
			text-align: center;
		}
	}
	.header {
		&__official {
			display: none;
		}
	}
	.promo {
		padding: 20px 10px 50px 10px;
		min-height: 475px;
		&__wrapper {
			margin-top: 40px;
		}
		&__header {
			font-size: 24px;
		}
		&__subheader {
			font-size: 14px;
			line-height: 0;
		}
		&__icons {
			width: 100%;
		}
		&__icon {
			font-size: 12px;
		}
	}
	.advantage {
		padding: 50px 15px 50px 15px;
		&__wrapper {
			margin-top: 35px;
			flex-direction: column;
		}
		&__block {
			width: 100%;
			&:nth-child(1) {
				padding-right: 0;
			}
			&:nth-child(2) {
				margin-top: 30px;
				padding: 0 0 0 0;
			}
			&:nth-child(3) {
				margin-top: 30px;
				padding-left: 0;
			}
		}
		&__header {
			font-size: 17px;
			margin-top: 12px;
		}
		&__text {
			font-size: 14px;
		}
	}
	.consultation {
		min-height: 465px;
		padding: 35px 15px 50px 15px;
		&__descr {
			display: none;
		}
	}
	.feed-form {
		width: 100%;
		margin-top: 58px;
	}
}
